@import "../mixins/index";

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */

  }

  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include primary-background;
    min-height:100vh;
    
  }

  a{
    text-decoration: none;
    color: black;
    
  }
  ul {
    margin: 0;
    padding:0;
    list-style-type: none;
  }