$color-black: #000000;
$color-white: #ffffff;

// main colors
$color-primary: #4C66E6;
$color-secondary:#90DBEF;
$color-tertiary: #BCA4DB;
$color-quaternary: #FF9999;
$color-quinary:#EDEF80;
$color-senary:#F7A1E8;
$color-septenary:#7DE8C1;

// color array

$colors: 
  #4C66E6,
  #90DBEF,
  #FF9999,
  #EDEF80,
  #F7A1E8,
  #7DE8C1,
;

$secondary-background: #F6F7FE;



// text colors

$color-heading: $color-black;
$color-text: $color-black;

// button colors


$color-button-bg--primary: $color-black;
$color-button-text--primary: $color-white;

:root{
    transition: ease-in-out all 10s !important;

}

