// Global font-sizes Vars
// Desktop
// Desktop display
$font-size--display: 140px;
$font-size--sub-display: 54px;

// Desktop H1-H6
$font-size--h1: 68px;
$font-size--h2: 54px;
$font-size--h3: 44px;
$font-size--h4: 36px;
$font-size--h5: 28px;
$font-size--h6: 22px;

// Desktop ETC
$font-size--p: 18px;
$general-line-height: 1.5;
$global-letter-spacing: 0.01688rem;

// Desktop Global extra font-sizes Vars
$font-size--button: 16px;
$font-size--a: 16px;
$font-size--hyperlink: 16px;

$font-size--li: 16px;

// ##############################################################
// Tablet
// Tablet display
$font-size--display-tab: 100px;
$font-size--sub-display-tab: 44px;

// Tablet H1-H6
$font-size--h1-tab: 52px;
$font-size--h2-tab: 48px;
$font-size--h3-tab: 40px;
$font-size--h4-tab: 28px;
$font-size--h5-tab: 22px;
$font-size--h6-tab: 17px;

// Tablet ETC
$font-size--p-tab: 18px;
$general-line-height-tab: 1.2em;
$global-letter-spacing-tab: 0.01688rem;

// Tablet Global extra font-sizes Vars
$font-size--button-tab: 16px;
$font-size--a-tab: 16px;
$font-size--hyperlink-tab: 16px;

$font-size--li-tab: 16px;

// ##############################################################
// Mobile
// Mobile display
$font-size--display-mob: 48px;
$font-size--sub-display-mob: 32px;

// Mobile H1-H6
$font-size--h1-mob: 36px;
$font-size--h2-mob: 45px;
$font-size--h3-mob: 40px;
$font-size--h4-mob: 35px;
$font-size--h5-mob: 20px;
$font-size--h6-mob: 25px;

// Tablet ETC
$font-size--p-mob: 16px;
$general-line-height-mob: 1.2em;
$global-letter-spacing-mob: 0.01688rem;

// Mobile Global extra font-sizes Vars
$font-size--a-mob: 16px;
$font-size--hyperlink-mob: 16px;

$font-size--li-mob: 16px;

// ##############################################################

// Hero Font sizes Vars
$font-size-hero--h2: 36px;

$font-weight-hero--title: 700;
$font-weight-hero--subtitle: 700;

// Mobile Hero Font sizes Vars
$font-size-hero--h1-mob: 48px;
$font-size-hero--h2-mob: 25px;

// global line-height Vars
$line-height--h1: 48px;
$line-height--h2: 48px;
$line-height--h3: 40px;
$line-height--h4: 28px;
$line-height--h5: 18px;
$line-height--h6: 17px;

$line-height--p: 18px;

// Mobile
$line-height--h1-mob: 90px;
$line-height--h2-mob: 80px;
$line-height--h3-mob: 70px;
$line-height--h4-mob: 60px;
$line-height--h5-mob: 50px;
$line-height--h6-mob: 40px;

$line-height--p-mob: 30px;

// Nav items
$font-size-nav--primary: 40px;
$font-size-nav--secondary: 18px;
$font-size-nav--tertiary: 18px;

$line-height-nav--primary: 40px;
$line-height-nav--secondary: 28px;
$line-height-nav--tertiary: 28px;

$padding-nav-items--primary: 9px 0;
$padding-nav-items--secondary: 9px 0;
$padding-nav-items--tertiary: 9px 0;

$font-size-nav--primary-mob: 25px;
$font-size-nav--secondary-mob: 22px;
$font-size-nav--tertiary-mob: 18px;

$line-height-nav--primary-mob: 25px;
$line-height-nav--secondary-mob: 22px;
$line-height-nav--tertiary-mob: 18px;
